<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ tooltable_name }}</title>
</head>
<body>
<h1>{{ tooltable_name }}</h1>
<ul>
    {% for tool in tools %}
      <li>{{ tool.name }}</li>
    {% endfor %}
    </ul>
</body>
</html>